.joystick {
  font-family: "Montserrat";
  background-color: #EECCD7;
  width: 100%;
  padding: 5%;
  display: flex;
  flex-wrap: wrap;
  gap: 5%;

  &__info {
    .joystick__subtitle {
      margin-top: 15%;
    }
    .joystick__price {
      padding-bottom: 15%;
    }
  }

  &__image-container {
    position: relative;

    .percent {
        margin-left: 30%;
        margin-top: 15%;
      position: absolute;
      top: 10px;
      left: 25%;
      padding: 8px 16px;
      background: linear-gradient(135deg, #00c1fe, #22c1c3);
      color: #fff;
      font-weight: 700;
      font-size: 3rem;
      border-radius: 50px;
      display: inline-block;
      text-align: center;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);

      &::after {
        content: "";
        position: absolute;
        bottom: -8px;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 0;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-top: 8px solid #00c1fe;
      }
    }
    .joystick__image {
        width: 80%;
        height: 100%;
    }
  }
}
